.editable{ 
	        border: 1px dotted #999;
            border-radius: 0;
            border-color:red;
            background:#ADDFD7;
        }
        
._720kb-datepicker-calendar-day._720kb-datepicker-today {
          background:blue;
          color:white;
        }